@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $primary-color;
  color: white;

  .cart {
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}